{% extends 'base_navbar.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block styling %}

<link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">



<link href="{% static 'movies/style_detail.css' %}" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//www.youtube.com/iframe_api"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
{% endblock %}



{% block content %}
<!-- LIght Box Hidden Popup-->
<!-- thumbnail wrapped in a link -->
<p>{{movie.trailerEmbed}}</p>
<section class="hero-banner">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div id="headerPopup" class="mfp-hide embed-responsive
                    embed-responsive-21by9">
                    <iframe class="embed-responsive-item"
                        src="{{ movie.getEmbedLink }}"
                        style="margin-top: 100px"
                        allowfullscreen></iframe>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="hero-banner__img">
                        <img class="img-fluid"
                            src="{{movie.logo}}"
                            alt="">
                    </div>
                </div>
                <div class="col-md-6 pl-xl-4">
                    <div class="hero-banner__content">
                        <h1 class="movie-title">{{movie.title}}</h1>

                        <p class="movie-info-expand">{{movie.description}}</p>
                        <a href="#headerPopup" id="headerVideoLink"
                            target="_blank"
                            class="btn btn-outline-danger popup-modal">PlayTrailer <i class="fa fa-play-circle"
                                style="font-size:20px"></i>
                        </a>
                    </div>
                    <hr style="border-width:3px; ">
                    <div class="award">Awards<br>
                        {% for award in movie.award_set.all %}
                            <a class="text-award" href="{% url 'award_detail' award.id %}">{{ award.name }} <i class="fas fa-award"></i></a>
                        {% endfor %}
                    </div>

                    {% if user.is_superuser %}
                    <div class="edit-btn">
                        <a href="{% url 'movie_edit' movie.id %}"
                            class="btn btn-outline-info"> <i
                            class="fas fa-edit"> Edit</i></a>
                        <a href="{% url 'movie_delete' movie.id %}"
                            class="btn btn-outline-danger"><i class="fas fa-minus-circle"> Delete</i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


    <section class="write-review py-5" id="write-review">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Overall Rating</h5>
                        </div>
                        <div class="col-md-4 text-warning">
                            <i class="fa fa-star overall"></i>
                            <i class="fa fa-star overall"></i>
                            <i class="fa fa-star overall"></i>
                            <i class="fa fa-star overall"></i>
                            <i class="fa fa-star overall"></i>
                        </div>
                    </div>

                    <hr style="border-width: 10px; border-color: #111111b9">

                    {% for comment in movie.comment_set.all %}

                    <div class="row">
                        <div class="col-md-2">
                            <p>{{ comment.username }}</p>
                        </div>
                        <div class="col-md-2 text-warning">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i>
                        </div>
                        <div class="col-md-6">
                            <p id="comment-{{comment.id}}">{{ comment.content|truncatechars:50 }}</p>
                        </div>
                        {% if user.username == comment.username %}
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-outline-info"
                            onclick="toggleCommentFormEdit( {{comment.id}} )">Edit</button>
                            <a href="{% url 'delete_comment' movie.id comment.id %}" class="btn btn-outline-danger" >Delete</a>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <hr>
                    <div class="row pb-3">
                        <div class="col-md-12">
                            <button class="btn btn-info"
                                onclick="toggleCommentForm()"> <i class="fas
                                    fa-pen-nib"> Write Review</i> <button>
                                </div>
                            </div>
                            <div class="row pb-3" id="comment">
                                <div class="col-md-12">
                                    <form id="form-comment" action="comment/add/" method="post">
                                      {% csrf_token %}
                                        <label class="sr-only"
                                            for="comment-content">content</label>
                                        <input type="text"
                                            class="form-control mb-2"
                                            id="comment-content"
                                            placeholder="Write your comment"
                                            name="content">
                                        <button type="submit" class="btn
                                            btn-primary mb-2 float-right">Post</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

comment/add/
<script>
    $(function() {
       $(window).scroll(function () {
          if ($(this).scrollTop() > 10) {
             $("nav").addClass("changeColor")
          }
          if ($(this).scrollTop() < 10) {
             $("nav").removeClass("changeColor")
          }
       });
    });

$(document).ready(function() {
  $('#headerVideoLink').magnificPopup({
    type:'inline',
    midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
  });

});
function toggleCommentFormEdit(comment_id){
    var form = document.getElementById("form-comment");
    form.action = "comment/edit/"+comment_id+"/";
    var content_area = document.getElementById("comment-content");
    var content_val = document.getElementById("comment-"+comment_id).innerHTML;
    content_area.value = content_val;

};
function toggleCommentForm() {
  var x = document.getElementById("comment");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
};
</script>
            {% endblock %}
