<!-- templates/home.html -->
{% extends 'base_navbar.html' %}


{% block content %}
<!-- Page Content -->
<header>
  <div class="overlay"></div>

  <div class="container h-100" style="margin-top:100px">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Intek Movie Manager</h1>
        <p class="lead mb-4">Discover your favorite movies and more</p>
        <hr style="border-width:5px; border-color:#d35353; width:450px; margin-left:30%; margin-right: 30%">
        <div class="icon-browse">
            <a  data-toggle="tooltip" data-placement="bottom" title="Movies" href="{% url 'movie' %}" >
                <i class="fas fa-film"></i>

            </a>
            <a  data-toggle="tooltip" data-placement="bottom" title="Celebrities" href="{% url 'celeb' %}" >
                <i class="fas fa-users"></i>

            </a>
            <a  data-toggle="tooltip" data-placement="bottom" title="Awards" href="{% url 'award' %}">
                <i class="fas fa-award"></i>
            </a>

    </div>
  </div>
</header>
    <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();   
            });
    </script>
{% endblock %}
