<!-- templates/home.html -->
{% extends 'base_navbar.html' %}



{% block content %}
<!-- Page Content -->
<section class="main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-left movie-genre">Cartoon</h1>
            <hr style="border-width: 5px; border-color: wheat; width: 1200px; margin-left:100px">
            <!-- Single Slide -->
            <div class="accordian">
                <ul>
                {% for i in i|rjust:8 %}
                <li>
                    <div class="row">
                            <div class="col">
                                <div class="image_title">
                                    <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">KungFu Panda</a>
                                </div>
                                <a
                                    href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
                                    <img src="" alt="Not found"/>
                                </a>
                            </div>
                            <div class="col movie-info">
                                <h2 style="margin-top: 20px; overflow: hidden"><strong>KungFu Panda</strong></h2>
                                <p1>Rating: 5.0</p1>
                                <br>
                                <p1>Released: 22-08-2018</p1>
                                <hr style="border-width: 4px; margin-right: 20px; border-color:rgb(167, 167, 167)">
                                <p>Cast: </p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

    </section>
    {% endblock %}
