/*
*Time to apply widths for accordian to work
Width of image = 1200px
total images = 8
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 1200/8 = 150px;
*/

.accordian {
	width: 1200px; height: 320px;
	overflow: hidden;
    /* background-image: linear-gradient( #522e4d, #1f111e,);  */
    background: #111d2c65;
	/*Time for some styling*/
	margin: 20px 100px 100px 100px ;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 1200px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 150px;
	float: left;

	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: 0.5s all;
	-webkit-transition:  0.5s all;
	-moz-transition:  0.5s all;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}


/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
    width: 920px;
}


.accordian li img {
    display: block;
    width: 420px;
    min-height: 320px;
    height: auto;
    overflow: hidden;
}

/*Image title styles*/
.image_title {
    background: rgba(0, 0, 0, 0.767);
    left: 14px; right: 10px;	
    margin-left: 0px;
    width: 403px;	
}

.image_title a {
	display: block;
	color: rgb(252, 252, 252);
	text-decoration: none;
	font-size: 16px;
}


.movie-genre {
    margin-top: 200px;
    color: rgb(206, 50, 63);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 100px;
}

.movie-info {
    overflow: hidden;
    color: rgb(8, 168, 173);
    margin-left:100px; 

}

.movie-info h2{
    color: rgb(201, 58, 134)
}
.movie-info a:hover{
    text-decoration-color: deeppink;
}

#image_logo{
    width: 400px;
    height: 320px;
    overflow: hidden;
}
.description {
    color: bisque;
}

.edit-btn{
    position: absolute;
    bottom: 0px;
    right: 20px;
    color: aliceblue;
}

.btn-admin-red{
    background-color: #ce4444fd;
    border: 2px #c72a2a
}